@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Home", Action = "GridViewPartial" };
        settings.SettingsEditing.BatchUpdateRouteValues = new { Controller = "Home", Action = "BatchUpdatePartial" };
        settings.SettingsEditing.Mode = GridViewEditingMode.Batch;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButtonInHeader = true;

        GridViewCommandColumnCustomButton customButton = new GridViewCommandColumnCustomButton();
        customButton.Text = "Delete";
        customButton.ID = "deleteButton";
        settings.CommandColumn.CustomButtons.Add(customButton);

        settings.KeyFieldName = "ID";

        settings.Columns.Add("C1");
        settings.Columns.Add(column =>
        {
            column.FieldName = "C2";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
        });
        settings.Columns.Add("C3");
        settings.Columns.Add(column =>
        {
            column.FieldName = "C4";
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "C5";
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
        });
        settings.CellEditorInitialize = (s, e) =>
        {
            ASPxEdit editor = (ASPxEdit)e.Editor;
            editor.ValidationSettings.Display = Display.Dynamic;
        };

        settings.Styles.StatusBar.CssClass = "StatusBarWithButtons";
        settings.SetStatusBarTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style='text-align: right'>");
            Html.DevExpress().HyperLink(hlSettings =>
            {
                hlSettings.Name = "hlSave";
                hlSettings.Properties.Text = "Save changes";
                hlSettings.Properties.ClientSideEvents.Click = "function(s, e){ GridView.UpdateEdit(); }";
            }).Render();

            ViewContext.Writer.Write("&nbsp;&nbsp;");
            @Html.DevExpress().HyperLink(hlSettings =>
            {
                hlSettings.Name = "hlCancel";
                hlSettings.Properties.Text = "Cancel changes";
                hlSettings.Properties.ClientSideEvents.Click = "function(s, e){ GridView.CancelEdit(); SetButtonsVisibility(GridView); }";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });
        settings.ClientSideEvents.Init = "function(s, e){ SetButtonsVisibility(s); }";
        settings.ClientSideEvents.EndCallback = "function(s, e){ SetButtonsVisibility(s) }";
        settings.ClientSideEvents.BatchEditEndEditing = "OnBatchEditEndEditing";
        settings.ClientSideEvents.CustomButtonClick = "OnCustomButtonClick";
    });   
}
@grid.Bind(Model).GetHtml()